.main {
  min-height: 100vh;
  width: 100vw;
}

.page {
  grid-area: page;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  grid-area: header;
}

.footer {
  height: 40px;
  position: relative;
  grid-area: footer;
  background-color: #fff;
  text-align: center;

  h4 {
    line-height: 40px;
  }
}
