
/* Typography */

$primary-text: #555;
$alt-text: #777;
$link-text: #2d818f;
$link-text-hover: rgba(45,129,143,.6);
$primary-white: #ffffff;
$primary-grey: rgb(250, 250, 250);
$copy-size: 18px;
// $ff-title: 'Work Sans', 'sans-serif';
$ff-title: 'Oranienbaum', 'serif';
// $ff-headline: 'brandon-grotesque', 'sans-serif';
$ff-headline: 'Raleway', 'sans-serif';
// $ff-headline: 'Oranienbaum', 'serif';
// $ff-body: 'ff-meta-serif-web-pro', 'serif';
$ff-body: 'Assistant', 'sans-serif';
// $ff-body: 'Cardo', 'serif';

/* Breakpoint Definitions */

$tablet-width: 768px;
$desktop-small: 960px;
$desktop-medium: 1024px;
$desktop-large: 1200px;