@import '../Variables.scss';
@import '../Mixins.scss';

.navigation {
  grid-area: navigation;

  @include bp-desktop-small {
    justify-self: end;
  }
}

.navigation__mobile-menu {
  cursor: pointer;
  @include bp-desktop-small {
    display: none;
  }
}

.navigation__menu {
  background-color: $primary-white;
  position: absolute;
  font-family: $ff-headline;
  top: 60px;
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 16px;
  z-index: 10;
  transition: left 200ms ease-in-out;

  @include bp-desktop-small {
    position: relative;
    top: 0px;
    height: 60px;
    width: calc(100vw - 496px);
    padding-top: 0px;
    padding-right: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
}

.mobile-off {
  left: -100vw;


  @include bp-desktop-small {
    left: 0px;
  }
}
.mobile-on {
  left: 0px;
}

.navigation__menu-item {
  height: 60px;
  text-align: center;
}
.navigation__menu-item a {
  font-size: 24px;
  font-weight: 200;
  line-height: 60px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.68);
  fill: rgba(0, 0, 0, 0.68);
  border-bottom: none;


  @include bp-desktop-small {
    font-size: 14px;
    padding: 0px 16px;
  }
}
.navigation__menu-item a:hover {
  color: rgba(0, 0, 0, 1);
  fill: rgba(0, 0, 0, 1);
}

.navigation__menu-item a.instagram_link {
  margin-left: 50px;
}

.navigation__menu-item a.instagram_link::before {
  color: rgba(0,0,0,0.68);
  fill: rgba(0,0,0,0.68);
  display: inline-block;
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'><g transform='scale(0.1)'><path d='M390,649H224a32.1,32.1,0,0,0-4.72-.8c-19.48-.58-38.92-1.46-57.94-6.23C118.42,631.2,87.2,606.31,69.5,565.38c-9.6-22.19-12.39-45.78-13.36-69.68-.22-5.24-.75-10.47-1.14-15.7V314a32.1,32.1,0,0,0,.8-4.72c.58-19.48,1.46-38.92,6.23-57.94,10.77-42.92,35.66-74.14,76.59-91.84,22.19-9.6,45.78-12.39,69.68-13.36,5.24-.22,10.47-.75,15.7-1.14H390a32.1,32.1,0,0,0,4.72.8c19.48.58,38.92,1.46,57.94,6.23,42.92,10.77,74.14,35.66,91.84,76.59,9.6,22.19,12.38,45.78,13.36,69.68.22,5.24.75,10.47,1.14,15.7V480a32.1,32.1,0,0,0-.8,4.72c-.58,19.48-1.46,38.92-6.23,57.94-10.77,42.92-35.66,74.14-76.59,91.84-22.19,9.6-45.78,12.38-69.68,13.36C400.46,648.08,395.23,648.61,390,649ZM100.06,396.74h.78c0,21.16-.41,42.32.12,63.47.48,19.62,1.24,39.29,3.22,58.8,1.92,19,8.57,36.5,21.43,51.24,17.83,20.43,41.31,29,67.29,30.54,29.23,1.77,58.56,2.24,87.85,2.59q44.73.54,89.47-.35c19.62-.39,39.29-1.25,58.8-3.22,19-1.91,36.5-8.57,51.24-21.44,20.43-17.82,29-41.31,30.54-67.28,1.77-29.23,2.24-58.56,2.59-87.86q.54-44.72-.35-89.46c-.39-19.62-1.24-39.29-3.22-58.8-1.92-19-8.57-36.5-21.43-51.24-17.83-20.43-41.31-29-67.29-30.54-29.73-1.78-59.56-2.23-89.35-2.59-29.15-.36-58.33-.37-87.47.39-21.76.56-43.74,1-65.18,4.3-36.63,5.66-61.54,26.75-71.45,63.11a165,165,0,0,0-5.43,36.93C101,329.12,100.71,362.94,100.06,396.74Z' transform='translate(-55 -145)' style='stroke: none' /><path d='M436.51,397.22c-.06,71.62-58.17,129.42-130,129.29-71.35-.14-129.11-58.21-129-129.73a129.43,129.43,0,0,1,130-129.29C378.84,267.64,436.56,325.67,436.51,397.22ZM306.86,480.83c45.91,0,83.92-37.49,84-82.81.05-46.76-37.14-84.81-82.94-84.85-46.92,0-84.71,37.24-84.72,83.56S260.66,480.83,306.86,480.83Z' transform='translate(-55 -145)' style='stroke: none' /><path d='M471.84,262.51a30.4,30.4,0,1,1-30.51-30.35A30.43,30.43,0,0,1,471.84,262.51Z' transform='translate(-55 -145)' style='stroke: none'/></g></svg>");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
  position: relative;
  top: 8px;
  left: -10px;
}
